<br>
<h1><b>Add new song</b></h1>
<h6>Please fill in all fields</h6>
<br>
<div>
  <form class="songForm" method="post" (keydown.enter)="$event.preventDefault()" >
    <div class="form-group">
      <input type="text" [(ngModel)]="name" name="name" class="form-control" placeholder="Song name" >
      <input type="text" [(ngModel)]="length" name="length" class="form-control" placeholder="Length (format - mm:mm / m:mm)" >
      <input type="text" [(ngModel)]="artistName" name="Artist Name" class="form-control" placeholder="Artist name" >
      <input type="text" [(ngModel)]="album" name="album" class="form-control" placeholder="Album" ><br>
      <!--<input type="text" [(ngModel)]="songImage" name="songImage" class="form-control" placeholder="song Image" >-->
      <h6> Choose song image :&nbsp;&nbsp;<input type="file" (change)="fileChangePhoto($event)" id="file" accept=".jpg" /> </h6><br>
      <h6>Choose audio file :&nbsp;&nbsp;<input type="file" (change)="fileChangeAudio($event)" id="mp3" accept=".mp3" /></h6>
    </div>
    <h6>Choose song path on map :</h6><br>
    <div align="left">
      <div class="form-group">
        <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">
      </div>
    <agm-map  [latitude] = "lat" [longitude]="lon" [zoom]="14" (mapClick)="placeMarker($event)">
      <agm-marker *ngIf="originLat && originLon && count==1" [latitude] = "originLat" [longitude]="originLon" ></agm-marker>
      <agm-direction *ngIf="count==2" [origin]="dir.origin" [destination]="dir.destination" [travelMode]="dir.travelMode" [visible]="show"></agm-direction>
    </agm-map>
    </div><br>
    <button (click)="addSong()" type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
<br>

